@font-face{
    font-family: "Cyberpunk";
    src: url(./Cyberpunk.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Qore";
    src: url(./Qore.otf);
    font-weight: normal;
    font-style: normal;
}